.botonInicio {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.botonSalir{
    -fx-background-color: linear-gradient(#ff5400, #be0e06);
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-text-fill: white;

}